<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h1 class="text-center">Usuários</h1>
			</div>
			<% if @usuarios.size == 0 %>
				<h3 class="text-center">Não há usuários</h3>
			<% else %>
				<table class="table table-bordered">
					<tr>
						<th>Foto</th>
						<th>Nome</th>
						<th>Login</th>
						<th>Email</th>
						<th>Data de Nascimento</th>
						<th>Crítico</th>
						<th></th>
					</tr>
					<% @usuarios.each do |usuario| %>
						<tr>
							<td><img src="/avaliacoes/don.jpg" width="64" height="64"></td>
							<td><%=usuario.nome%></td>
							<td><%=usuario.login%></td>
							<td><%=usuario.email%></td>
							<td><%=usuario.dataDeNascimento%></td>
							<td>
								<% if usuario.critico %>
									Sim
								<% else %>
									Não
								<% end %>
							</td>
							<td>
								<a href="/admin/excluirUsuario/<%=usuario.id%>" class="btn btn-default">Excluir</a>
								<a href="/admin/mudaCritico/<%=usuario.id%>" class="btn btn-default">Muda Estado de Crítico</a>
							</td>
						</tr>
					<% end %>
				</table>
			<% end %>
		</div>
	</div>
</div>
<!--
<h1>Lista de Usuários</h1>
<table border="1">
<tr>
	<th>Nome</th>
	<th>Data de Nascimento</th>
	<th>Email</th>
	<th>Crítico</th>
	<th>login</th>
	<th>Operações</th>
</tr>
<% @usuarios.each do |usuario| %>
	<tr>
		<td><%=usuario.nome%></td>
		<td><%=usuario.dataDeNascimento%></td>
		<td><%=usuario.email%></td>
		<td><%=usuario.critico%></td>
		<td><%=usuario.login%></td>
		<td>
			<a href="/admin/excluirUsuario/<%=usuario.id%>">Excluir</a> - 
			<a href="/admin/mudaCritico/<%=usuario.id%>">Muda Estado de crítico</a>
		</td>
	</tr>
<% end %>
</table>-->